/* MEDIA QUERY MANAGER

0 - 480px : Phone
480 - 768px: Tab
768 - 1280px Desktop

*/
/* ------------------------------------------ */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 768px) {
    html {
      font-size: 50%; } }
  @media (max-width: 480px) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  color: #121212;
  background-color: #fffdfd;
  font-weight: 200; }

main {
  padding: 10rem 5rem 0 5rem; }
  @media (max-width: 768px) {
    main {
      padding: 1rem; } }

.section-heading {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 400;
  text-align: center; }

.title {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase; }

.section {
  transition: all 1s;
  padding-bottom: 10rem;
  scroll-margin: 20rem; }
  @media (max-width: 768px) {
    .section {
      margin-bottom: 1rem; } }
  .section--hidden {
    opacity: 0;
    transform: translateY(8rem); }

.line--hidden {
  transform: translateX(-3rem);
  opacity: 0; }

.unused {
  position: relative; }
  .unused::before {
    content: "Coming soon";
    background-color: #c06318;
    position: absolute;
    top: 0;
    left: -2rem;
    padding: 1rem;
    opacity: 0;
    cursor: help;
    z-index: 2;
    transition: all 0.2s;
    display: block;
    text-align: center; }
    @media (max-width: 768px) {
      .unused::before {
        opacity: 1;
        padding: 1rem 3rem;
        left: -50%;
        top: -50%; } }
  .unused:hover::before {
    opacity: 1; }

.u-margin-bottom {
  margin-bottom: 5rem; }

@keyframes blink {
  50% {
    opacity: 0; } }

.navigation {
  width: 100%;
  position: absolute;
  z-index: 5;
  padding-top: 1rem;
  background-image: linear-gradient(to bottom, #121212, transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #dfd9d9;
  transition: all 0.3s;
  top: -5%; }
  .navigation__btn {
    z-index: 11;
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 1%; }
    @media (max-width: 768px) {
      .navigation__btn {
        display: flex; } }
    .navigation__btn-body {
      width: 3rem;
      height: 0.1rem;
      background-color: #dfd9d9;
      transition: all 0.5s;
      position: relative;
      cursor: pointer; }
      .navigation__btn-body.toggled {
        transform: translateX(-5rem); }
      .navigation__btn-body::before, .navigation__btn-body::after {
        content: "";
        position: absolute;
        background-color: inherit;
        width: 100%;
        height: 100%;
        transition: inherit; }
      .navigation__btn-body::before {
        top: -1rem; }
      .navigation__btn-body.toggled::before {
        transform: translateX(5rem) rotate(45deg);
        top: 0; }
      .navigation__btn-body::after {
        bottom: -1rem; }
      .navigation__btn-body.toggled::after {
        transform: translateX(5rem) rotate(-45deg);
        top: 0; }
  @media (max-width: 768px) {
    .navigation {
      background-image: none;
      background-color: #121212;
      position: fixed;
      top: 0;
      flex-direction: row; } }
  @media (hover) {
    .navigation:hover {
      background-color: #121212; } }
  .navigation__logo {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 3rem;
    padding-top: 5rem;
    color: inherit;
    letter-spacing: 0.5rem; }
    @media (max-width: 768px) {
      .navigation__logo {
        padding: 0;
        font-size: 2.1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.9rem;
        margin-left: 2rem; } }
  .navigation__list {
    width: inherit;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    transition: all 0.4s; }
    @media (max-width: 768px) {
      .navigation__list {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: #121212;
        transform: translateX(100%);
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .navigation__list.toggled {
          transform: translateX(0); } }
    @media (max-width: 768px) {
      .navigation__list--item {
        margin: 3rem 0; } }
    .navigation__list--link {
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      font-size: 2rem;
      color: inherit;
      position: relative; }
      @media (max-width: 768px) {
        .navigation__list--link {
          font-size: 4rem; } }
      @media (hover) {
        .navigation__list--link:hover::after {
          opacity: 1; } }
      .navigation__list--link::after {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        width: 100%;
        height: 1%;
        background-color: #dfd9d9;
        opacity: 0;
        transition: all 0.3s; }
  .navigation--fixed {
    position: fixed;
    top: 0;
    flex-direction: row;
    background: #121212;
    align-items: baseline; }
    .navigation--fixed .navigation__logo {
      font-size: 2.1rem;
      padding-top: 1rem;
      margin-left: 2rem;
      flex-shrink: 0; }
      @media (max-width: 768px) {
        .navigation--fixed .navigation__logo {
          padding-top: 0.5rem;
          padding-bottom: 0.9rem; } }
    .navigation--fixed .navigation__list {
      justify-content: flex-end; }
      @media (max-width: 768px) {
        .navigation--fixed .navigation__list {
          justify-content: center; } }
      .navigation--fixed .navigation__list--item {
        margin: 0 1.5rem; }
        @media (max-width: 768px) {
          .navigation--fixed .navigation__list--item {
            margin: 3rem 0; } }
      .navigation--fixed .navigation__list--link {
        font-size: 1.5rem; }
        @media (max-width: 768px) {
          .navigation--fixed .navigation__list--link {
            font-size: 4rem; } }

.header {
  height: 100vh;
  position: relative; }
  @media (max-width: 768px) {
    .header {
      background-image: url("../../images/header/header__fallback.jpg");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat; } }
  @media (max-width: 480px) {
    .header {
      background-image: url("../../images/latest-collection/latest--collection-small.jpg");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat; } }
  .header__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
    .header__video--content {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .header__video--controls {
      position: absolute;
      right: 5%;
      bottom: 5%;
      font-size: 6rem;
      color: #dfd9d9;
      cursor: pointer;
      transition: all 0.3s; }
      @media (max-width: 768px) {
        .header__video--controls {
          display: none; } }
      .header__video--controls:hover {
        transform: scale(1.5); }
    @media (max-width: 768px) {
      .header__video {
        display: none; } }
  .header__fallback {
    position: absolute;
    width: 100%;
    height: 100%; }
  .header__cta {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    color: #dfd9d9;
    font-size: 2rem;
    background-color: rgba(18, 18, 18, 0.3);
    padding: 1rem 2rem 0.7rem 2rem;
    transition: all 0.5s; }
    .header__cta:hover {
      letter-spacing: 0.2rem;
      background-color: rgba(18, 18, 18, 0.8); }

.footer {
  background-color: #121212;
  padding: 5rem;
  text-transform: uppercase;
  display: flex;
  color: #dfd9d9;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem; }
  .footer__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dfd9d9; }
  .footer__list {
    list-style: none; }
    .footer__list-item {
      font-size: 1.5rem;
      margin: 0.5rem; }
  .footer__link {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: inherit;
    transition: all 0.3s; }
    .footer__link:hover {
      color: #fffdfd; }
  .footer__icon {
    font-size: 2rem; }
  .footer__subscribe {
    text-align: center; }
  @media (max-width: 480px) {
    .footer__form {
      flex-basis: 100%; } }
  .footer__input {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.4s;
    padding: 0.5rem 1rem;
    background-color: #dfd9d9; }
    .footer__input:focus {
      outline: none;
      background-color: #fffdfd; }
    .footer__input:focus:invalid {
      border-color: #8f2626; }
    .footer__input:focus:valid {
      border-color: #276101; }
  .footer__btn {
    text-transform: uppercase;
    display: block;
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
    border: none;
    cursor: pointer;
    letter-spacing: 0.3rem;
    background-color: transparent;
    background-color: #dfd9d9;
    margin: 2rem auto;
    padding: 0.4rem 0.7rem 0.3rem 0.7rem;
    transition: all 0.4s;
    color: #121212; }
    .footer__btn:hover {
      background-color: #fffdfd; }
  .footer__copyright {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem; }

/*  ----------  Latest product  ----------  */
.latest-product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 18vh);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 5rem; }
  @media (max-width: 768px) {
    .latest-product {
      grid-template-rows: repeat(4, 18vh); } }
  .latest-product__picture {
    grid-column: 1/3;
    grid-row: 1/-1; }
    @media (max-width: 768px) {
      .latest-product__picture {
        display: none; } }
  .latest-product__model {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: bottom; }
  .latest-product__perfume {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    grid-column: 2/4;
    grid-row: 2/5;
    transition: all 0.3s;
    transform: scale(2);
    filter: drop-shadow(12px 12px 22px #000); }
    @media (max-width: 768px) {
      .latest-product__perfume {
        grid-column: 1/4;
        transform: scale(1.5);
        grid-row: 2/-1; } }
  .latest-product__title {
    grid-column: 4/-1;
    grid-row: 1/2;
    z-index: 1;
    text-align: center; }
    @media (max-width: 768px) {
      .latest-product__title {
        grid-column: 1/-1; } }
  .latest-product__text {
    grid-column: 4/-1;
    grid-row: 2/4;
    z-index: 1;
    font-size: 2rem;
    text-transform: uppercase;
    align-self: center;
    justify-self: center; }
    @media (max-width: 768px) {
      .latest-product__text {
        grid-column: 3/-1; } }
  .latest-product__line {
    margin: 3rem 0;
    transition: all 0.5s; }
    .latest-product__line:nth-child(2) {
      margin-left: 4rem;
      transition-delay: 0.3s; }
    .latest-product__line:nth-child(3) {
      margin-left: 8rem;
      transition-delay: 0.6s; }
  .latest-product__cta {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem 2rem 0.7rem 2rem;
    border: 1px solid #121212;
    font-size: 1.7rem;
    transition: all 0.3s;
    grid-column: 4/-1;
    grid-row: 4/-1;
    justify-self: center;
    z-index: 1;
    color: inherit;
    align-self: flex-start; }
    @media (max-width: 768px) {
      .latest-product__cta {
        grid-column: 3/-1; } }
    .latest-product__cta:hover {
      color: #dfd9d9;
      background-color: #121212; }

.collection__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.collection__cta {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  position: absolute;
  bottom: 5%;
  right: 10%;
  font-size: 1.7rem;
  color: #dfd9d9;
  background-color: rgba(18, 18, 18, 0.7);
  padding: 0.6rem 1rem 0.3rem 1rem;
  transition: all 0.7s;
  text-align: center; }
  @media (max-width: 768px) {
    .collection__cta {
      bottom: auto;
      right: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); } }
  .collection__cta:hover {
    background-color: #121212; }

.stories__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 15vh);
  gap: 2rem; }
  @media (max-width: 768px) {
    .stories__container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 40vh); } }
  @media (hover) {
    .stories__container:hover .stories__story:not(:hover) {
      filter: grayscale(1);
      transform: scale(0.8); } }

.stories__story {
  transition: all 0.5s;
  position: relative; }
  .stories__story:hover {
    transform: scale(1.1);
    z-index: 1; }
  .stories__story:nth-child(1) {
    grid-row: 1/4;
    grid-column: 1/3; }
    @media (max-width: 768px) {
      .stories__story:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2; } }
  .stories__story:nth-child(2) {
    grid-row: 1/5;
    grid-column: 3/-1; }
    @media (max-width: 768px) {
      .stories__story:nth-child(2) {
        grid-column: 1/-1;
        grid-row: 2/3; } }
  .stories__story:nth-child(3) {
    grid-row: 4/-1;
    grid-column: 1/3; }
    @media (max-width: 768px) {
      .stories__story:nth-child(3) {
        grid-column: 2/-1;
        grid-row: 1/2; } }
  .stories__story:nth-child(4) {
    grid-row: 5/-1;
    grid-column: 3/5; }
    @media (max-width: 768px) {
      .stories__story:nth-child(4) {
        grid-column: 1/2;
        grid-row: 3/4; } }
  .stories__story:nth-child(5) {
    grid-row: 5/-1;
    grid-column: 5/6; }
    @media (max-width: 768px) {
      .stories__story:nth-child(5) {
        grid-column: 2/-1;
        grid-row: 3/4; } }

.stories__details {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  background-color: #fffdfd;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem; }

.stories__image {
  width: 100%;
  height: 100%;
  display: block;
  scroll-margin-top: 10rem;
  object-fit: cover; }

.stories__title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  font-weight: 200; }

.stories__cta {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 1.5rem;
  color: #121212;
  position: relative; }
  .stories__cta::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: -2%;
    left: 0;
    background-color: #121212;
    transition: all 0.4s; }
  .stories__cta:hover::after {
    width: 100%; }

.contacts__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 10vh);
  align-items: center;
  justify-content: center; }
  @media (max-width: 480px) {
    .contacts__container {
      grid-template-rows: repeat(7, 7vh); } }

.contacts__image {
  width: 100%;
  height: 100%;
  display: block;
  grid-row: 1/-1;
  grid-column: 1/3;
  object-fit: cover; }
  @media (max-width: 480px) {
    .contacts__image {
      grid-column: 1/-1; } }

.contacts__title {
  padding-top: 5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem; }

::-webkit-scrollbar {
  width: 1rem; }

::-webkit-scrollbar-track {
  background-color: #121212; }

::-webkit-scrollbar-thumb {
  background: #353535; }

@supports (scrollbar-color: #121212) {
  * {
    scrollbar-color: #121212 !important; } }

.slider {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  transition: all 0.4s; }
  @media (max-width: 480px) {
    .slider {
      height: 60vh; } }
  .slider__btn {
    color: #dfd9d9;
    font-size: 3rem;
    transition: inherit;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    filter: drop-shadow(2px 2px 7px #121212); }
    @media (max-width: 480px) {
      .slider__btn {
        top: 95%; } }
    .slider__btn:nth-child(1) {
      left: 1%; }
    .slider__btn:nth-child(2) {
      right: 1%; }
    .slider__btn:hover {
      color: #fffdfd; }
  .slider__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s; }
    .slider__slide:nth-child(3) {
      background-image: url("../../images/collection/collection__coats--large.jpg"); }
      @media (max-width: 768px) {
        .slider__slide:nth-child(3) {
          background-image: url("../../images/collection/collection__coats--medium.jpg"); } }
      @media (max-width: 480px) {
        .slider__slide:nth-child(3) {
          background-image: url("../../images/collection/collection__coats--small.jpg"); } }
    .slider__slide:nth-child(4) {
      background-image: url("../../images/collection/collection__jeans--large.jpg"); }
      @media (max-width: 768px) {
        .slider__slide:nth-child(4) {
          background-image: url("../../images/collection/collection__jeans--medium.jpg"); } }
      @media (max-width: 480px) {
        .slider__slide:nth-child(4) {
          background-image: url("../../images/collection/collection__jeans--small.jpg"); } }
    .slider__slide:nth-child(5) {
      background-image: url("../../images/collection/collection__shirt--large.jpg"); }
      @media (max-width: 768px) {
        .slider__slide:nth-child(5) {
          background-image: url("../../images/collection/collection__shirt--medium.jpg"); } }
      @media (max-width: 480px) {
        .slider__slide:nth-child(5) {
          background-image: url("../../images/collection/collection__shirt--small.jpg"); } }
    .slider__slide:nth-child(6) {
      background-image: url("../../images/collection/collection__accessories--large.jpg"); }
      @media (max-width: 768px) {
        .slider__slide:nth-child(6) {
          background-image: url("../../images/collection/collection__accessories--medium.jpg"); } }
      @media (max-width: 480px) {
        .slider__slide:nth-child(6) {
          background-image: url("../../images/collection/collection__accessories--small.jpg"); } }

.form {
  grid-row: 2/10;
  grid-column: 2/-1;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #dfd9d9;
  position: relative; }
  @media (max-width: 480px) {
    .form {
      grid-column: 1/-1;
      grid-row: 1/-1;
      background-color: rgba(223, 217, 217, 0.5);
      height: 100%; } }
  .form__group {
    position: relative;
    margin: 0 10rem; }
    @media (max-width: 480px) {
      .form__group {
        margin: 0 2rem; } }
  .form__input {
    font: inherit;
    border: none;
    transition: all 0.4s;
    border-bottom: 3px solid transparent;
    padding: 1rem 2rem;
    background-color: #fffdfd;
    width: 100%; }
    .form__input:focus {
      outline: none; }
    .form__input:focus:invalid {
      border-color: #8f2626; }
    .form__input:focus:valid {
      border-color: #276101; }
    .form__input:not(:placeholder-shown) + .form__label {
      top: -2.2rem;
      opacity: 1; }
  .form__label {
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
  .form__textarea {
    font: inherit;
    padding: 1rem 1rem;
    resize: none;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
    width: 100%;
    height: 15rem; }
    .form__textarea:focus {
      outline: none;
      border-color: #276101; }
    .form__textarea:not(:placeholder-shown) + .form__label {
      top: -2.2rem;
      opacity: 1; }
  .form__btn {
    text-transform: uppercase;
    display: block;
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
    border: none;
    cursor: pointer;
    letter-spacing: 0.3rem;
    background-color: transparent;
    border: 1px solid #121212;
    padding: 1.2rem 2rem 1rem 2rem;
    font-size: 1.5rem;
    transition: all 0.3s;
    align-self: center;
    margin-bottom: 1rem;
    color: #121212;
    background-color: #fffdfd; }
    .form__btn:hover {
      background-color: #121212;
      color: #fffdfd; }
