.collection {
  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__cta {
    @include clearLink;
    position: absolute;
    bottom: 5%;
    right: 10%;
    font-size: 1.7rem;
    color: $color-white-main;
    background-color: rgba($color-dark-main, 0.7);
    padding: 0.6rem 1rem 0.3rem 1rem;
    transition: all 0.7s;
    text-align: center;

    @include respond(Tab) {
      bottom: auto;
      right: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $color-dark-main;
    }
  }
}
