::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: $color-dark-main;
}

::-webkit-scrollbar-thumb {
  background: $color-dark-secondary;
}

@supports (scrollbar-color: $color-dark-main) {
  * {
    scrollbar-color: $color-dark-main !important;
  }
}
