.section {
  transition: all 1s;
  padding-bottom: 10rem;
  scroll-margin: 20rem;

  @include respond(Tab) {
    margin-bottom: 1rem;
  }

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}

.line--hidden {
  transform: translateX(-3rem);
  opacity: 0;
}

.unused {
  position: relative;

  &::before {
    content: "Coming soon";
    background-color: rgb(192, 99, 24);
    position: absolute;
    top: 0;
    left: -2rem;
    padding: 1rem;
    opacity: 0;
    cursor: help;
    z-index: 2;
    transition: all 0.2s;
    display: block;
    text-align: center;

    @include respond(Tab) {
      opacity: 1;
      padding: 1rem 3rem;
      left: -50%;
      top: -50%;
    }
  }

  &:hover::before {
    opacity: 1;
  }
}

.u-margin-bottom {
  margin-bottom: 5rem;
}
