/*  ##########  Latest collection   ##########  */
.latest-collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 18vh);
  overflow: hidden;

  &__picture {
    grid-row: 1/-1;
    grid-column: 1/2;
  }

  &__model {
    @include imageStyle;
    object-fit: fill;
    width: 90%;
  }

  &__title {
    grid-column: 2/-1;
    grid-row: 1/2;
    font-size: 3rem;
    justify-self: center;
    text-transform: uppercase;
    font-weight: 200;
    display: block;
  }

  &__perfume {
    @include imageStyle;
    object-fit: contain;
    grid-row: 2/5;
    grid-column: 2/3;
    transition: all 0.3s;
    transform: scale(2);
    filter: sepia(1) drop-shadow(12px 12px 22px #000);
  }

  &__cta {
    @include clearBtn;
    @include btnCta;
    grid-column: 2/-1;
    grid-row: 5/-1;
    justify-self: center;
    align-self: flex-end;
    z-index: 1;

    &:hover {
      color: $color-white-main;
      background-color: $color-dark-main;
    }
  }
}

/*  ##########  Top products today  ##########  */
.top-products {
  overflow: hidden;

  &__title {
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  &__image {
    height: 50vh;
    width: 25vw;
    margin: 2rem 0;
    filter: drop-shadow(5px 5px 10px #000);
  }

  &__price {
    font-size: 3rem;
    text-align: center;

    &-old {
      text-decoration: line-through;
      transform: scale(0.7);
      display: inline-block;
      color: $color-dark-secondary;
    }
  }

  &__cta {
    margin-top: 1.5rem;
    @include clearBtn;
    @include btnCta;
    font-size: 1.5rem;
    &:hover {
      color: $color-white-main;
      background-color: $color-dark-main;
    }
  }
}

/*  ##########  Collection  ##########  */

/*  ##########  News  ##########  */
.news {
  & h2 {
    text-align: left;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
  }

  &__new {
    width: 50rem;
    height: 30rem;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-dark-main, 0.7);
      opacity: 0;
      transition: all.5s;
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover .news__title {
      transform: translate(0);
      opacity: 1;
    }

    &:nth-child(1) {
      background-image: url("../../images/news/new-collection--large.jpg");
    }

    &:nth-child(2) {
      background-image: url("../../images/news/open-grounds--large.jpg");
    }

    &:nth-child(3) {
      background-image: url("../../images/news/news-sale--large.jpg");
    }
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-white-main;
    opacity: 0;
    transform: translateY(4rem);
    transition: all 0.5s;
    z-index: 1;
  }
}
